@tailwind base;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

:root {
  --red-900: #450303;
  --red-800: #5C0D0D;
  --red-700: #731C1C;
  --red-600: #8B2F2F;
  --red-500: #A24646;
  --red-400: #B96262;
  --red-300: #D08383;
  --red-200: #E8A8A8;
  --red-100: #FFD1D1;

  --green-900: #00160D;
  --green-800: #073320;
  --green-700: #145136;
  --green-600: #276E4F;
  --green-500: #418B6B;
  --green-400: #61A889;
  --green-300: #87C5AA;
  --green-200: #B4E2CE;
  --green-100: #E8FFF5;

  --yellow-900: #CD9700;
  --yellow-800: #E3A800;
  --yellow-700: #FABC0E;
  --yellow-600: #FBC83A;
  --yellow-500: #FCD055;
  --yellow-400: #FCD870;
  --yellow-300: #FDDF8B;
  --yellow-200: #FEE7A7;
  --yellow-100: #FFF3D1;

  --primary-50: 236 254 255;
  --primary-100: 207 250 254;
  --primary-200: 165 243 252;
  --primary-300: 103 232 249;
  --primary-400: 34 211 238;
  --primary-500: 6 182 212;
  --primary-600: 8 145 178;
  --primary-700: 14 116 144;
  --primary-800: 21 94 117;
  --primary-900: 22 78 99;
  --primary-950: 8 51 68;

  --surface-0: 255 255 255;
  --surface-50: 249 250 251;
  --surface-100: 243 244 246;
  --surface-200: 229 231 235;
  --surface-300: 209 213 219;
  --surface-400: 156 163 175;
  --surface-500: 107 114 128;
  --surface-600: 75 85 99;
  --surface-700: 55 65 81;
  --surface-800: 31 41 55;
  --surface-900: 17 24 39;
  --surface-950: 8 8 8;
}

.container {

  width: 100%;
	margin-left: auto;
	margin-right: auto;

}

@media (max-width: 640px) {
	.container {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
		.sm\:text-5xl {
			font-size: 3rem;
			line-height: 1.4;
	}
}

@media (min-width: 1024px) {
    .container {
        max-width:1024px
    }
}

